<%= form_for @release, :html => {:multipart => true} do |f| %>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% @release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="find-artist field">
    <%= f.label :artist_tokens, "Artist(s)" %>
    <%= f.text_field :artist_tokens, "data-pre" => @release.artists.map(&:attributes).to_json %>
  </span>
  <span class="release-date field">
    <%= f.label :release_date %><%= f.text_field :release_date, :id => "datepicker" %>
  </span><br>
  
  <% if @release.artists[0].name.blank? %>
  <%= f.fields_for :artists do |artist_form| %>
    <span class="new-artist field">
      <%= artist_form.label :name, "or New Artist" %>
      <%= artist_form.text_field :name %>
    </span><br>
  <% end %>
  <% end %>
  
  <span class="name field">
    <%= f.label :name, "Title" %><%= f.text_field :name %>
  </span><br>
  <span class="genre field">
    <%= f.label :genre %>
    <%= f.select(:genre_id, Genre.order(:name).map{ |g| [g.name, g.id] }, { :include_blank => 'None' }) %>
  </span><br>
  <span class="album-art field">
    <%= f.label :album_art %><%= f.file_field :album_art %>
  </span>
  
  <table id="new-recordings-table">
    <thead>
    <tr>
      <td>No.</td>
      <td>Name</td>
      <td>Length</td>
    </tr>
    </thead>
    <tbody>
  <%= f.fields_for :release_tracks, @release_tracks do |release_track_form| %>
    <tr>
    <td class="new-track-no field">
      <%= release_track_form.text_field :track_no %>
    </td>
  

    <%= release_track_form.fields_for :recording do |recording_form| %>
      <td class="new-recording field">
        <%= recording_form.text_field :name %>
      </td>
      <td class="new-recording-length field">
        <%= recording_form.text_field :length %>
      </td>
    <% end %>
    </tr>
</tbody>
  <% end %>
</table>

<% end %>
