<%= link_to 'New Release', new_release_path, :class => "new-link" %>
<table class="releases">
<% @releases.each do |release| %>
  <tr>
    <td class="artist"><%= release.artists[0].name %></td>
    <td><%= link_to(image_tag(release.album_art_url(:icon).to_s), release) %></td>
    <td><%= release.name %></td>
    <td><%= release.release_date.year %></td>
    <td><%= release.release_date.strftime("%b") %></td>
    <td><%= release.release_date.strftime("%e") %></td>
    <td><%= link_to 'Edit', edit_release_path(release) %></td>
    <td><%= link_to 'Destroy', release, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>