<p id="notice"><%= notice %></p>
  <div class="show-art <%= genre_css(@release) %>"><%= image_tag @release.album_art_url(:thumb).to_s %></div>
  <h2><%= @release.name %></h2>
  <span>by</span>
  <h3><%= @release.artists[0].name %></h3>

<p>
  <b>Release date:</b>
  <%= @release.release_date.strftime("%A, %B %e, %Y") %>
</p>
<p>
  <strong><%= @release.recordings.length %> tracks</strong> | <%= @release.length_in_text %>
</p>

<table id="show-release-tracks-table">
  <tbody>
    <% for r in @release.release_tracks %>
    <tr>
      <td><%= r.track_no %>.</td>
      <td><%= r.recording.name %></td>
      <td><%= r.recording.time %></td>
    </tr>
    <% end %>
  </tbody>
</table>     

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>