<!DOCTYPE html>
<html>
<head>
  <title>Muz | <%= params[:action].titleize %> <%= params[:controller].titleize.singularize %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="full-page" class="<%= params[:controller] %>-<%= params[:action] %>">

  <div id="header">
    <span id="account-nav"><%= account_nav.html_safe %></span>
    <span id="status"><h3><%= params[:action].titleize %> <%= params[:controller].titleize.singularize %></span>
  </div>
  <div id="left-col">
    <div id="logo"><%= link_to image_tag("record-logo.png"), root_path %></div>
    <% if user_signed_in? %>
      <div id="site-nav">
        <ul class="navigation">
          <li><%= tab_to "Releases", releases_path %></li>
        </ul>
      </div>
    <% end %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer"></div>

</div>
</body>
</html>
